<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Jeff Becker's Resumé</title>
    <style>
      {% block overrideStyle %}
      {% endblock %}
    </style>
  </head>
  <body>
    {% block bodyContent %}
    {% endblock %}
  </body>
</html>
