<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Resumé</title>
    <style>
      {% block overrideStyle %}
      {% endblock %}
    </style>
  </head>
  <body>
    <div class="container">
      {% block bodyContent %}
      {% endblock %}
    </div>
  </body>
</html>
