<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Resumé</title>
    <link rel="style" href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css">
    <style>
      {% block overrideStyle %}
      {% endblock %}
    </style>
  </head>
  <body>
    <div class="container">
      {% block bodyContent %}
      {% endblock %}
    </div>
  </body>
</html>
