## Sierra Vista Group <span class='date'>\[2023-Current\]</span>

<span class="desc">Backend Web Developer.</span><br/>
<span class="info">Python3, Elixir, Golang</span>

## OXEN: Technical Co-Founder <span class='date'>\[2018-2023\]</span>

<div class="bigger">
	Co-Founded an Open Source Software Company building privacy respecting applications for consumer grade users.
</div>
Designed, Implemented, Deployed and Maintained the Onion Routed End to End Encrypted VPN Stack for Session Private Messanger. Deployed and Maintained Drone CI pipeline and its Auxillery Docker infrastructure.

Maintained multiple legacy C++ and Rust codebases.
Wrote and Maintained Multiple Python3 libraries C++17 libraries and Python3 Flask webapps for internal tooling.

Performed Cryptographic Analysis for all deliverables, Internal Code Audits and Community Outreach.

<span class="info">C++14, C++17, CMake, Sodium, zmqcpp, libuv, unbound</span><br/>
<span class="info">Python3, PyBind11, Flask, PostgreSQL, SQLite3, Docker, DroneCI, MingW32 C++, MacOS Objective-C Objective-C++, Ubuntu, Debian, DEB Packaging</span><br/>


## FOSS Developer <span class='date'>\[2010-Current\]</span>

<span class="desc">Contributed to numerous open source software projects on GitHub.</span><br/>
<span class="info">C++11, Python3, GoLang</span>
