## OXEN: Technical Co-Founder <span class='date'>\[2018-2023\]</span>

Designed, Implemented, Deployed and Maintained Authenticated Anonymous Private End to End Encrypted Networking Stack for flagship product, Session Private Messanger.

Set up CI pipeline and auxillery docker infrastructure.

C++17 (CMake/libsodium/zmq/libuv/libunbound), python3 (pybind11/flask/zmq), electron, rust, Docker (Drone-CI), Debian Linux.


## SierraVista Group: Web Developer <span class='date'>\[2016-2018\]</p>

Enterprise Backend Web development.
Python3, GoLang.

## FOSS Contributor <span class='date'>\[2010-2023\]</span>

C++11, Python3, GoLang
