{% extends "base.jinja2" %}

{% block overrideStyle %}

  html, body {
    font-family: sans-serif;
  }

  code, pre {
    font-family: monospace;
  }

  .container {
    margin-left: 10%;
    width: 65%;
    display: flex;
  }

  .content {
    width: 85%;
  }

  li {
    font-size: 8pt;
  }

  img {
    max-width: 200px;
  }

  .header {
    justify-content: center;
    flex-direction: row;
    padding-right: 3em;
    width: 35%;
  }

  .entry {
    font-size: 10pt;
  }

  .footer {
    color: grey;
  }

{% endblock %}


{% block bodyContent %}
<div class="container">
  <div class="header">
    <div class="entry">
      {{header | safe }}
    </div>
    <div class="entry">
      {{about | safe }}
    </div>
  </div>
  <div class="content">
    {{body | safe }}
  </div>
</div>
<div class="footer">
  {{footer | safe}}
</div>
{% endblock %}
