{% extends "base.html.jinja2" %}

{% block overrideStyle %}

	html, body {
	font-family: sans-serif;
	}

	code, pre {
		font-family: monospace;
	}

	.container {
		margin-left: 10%;
		width: 80%;
		display: flex;
	}

	.content {
	z-index: 1;
	width: 85%;
	li {
	font-size: 10pt;
	}
	}

		li {
		font-size: 8pt;
		}

	.brief {

	padding-bottom: 30px;
	
	}

	.desc {
	font-size: 12pt;
	font-face sans serif;
	}

	.header {
		justify-content: center;
		flex-direction: row;
		padding-right: 3em;
		width: 35%;
	}

	.entry {
		font-size: 10pt;
	}

	.footer {
		color: grey;
	}

	.date {
	font-size: 10pt;
	color: #dedede;
	font-style: italic;
	}

	.info {
	font-size: 10pt;
	color: grey;
	}

{% endblock %}


{% block bodyContent %}
	<!--
		{{tos | safe}}
		-->
	<div class="container">
		<div class="header">
			<div class="entry">
				{{header | safe }}
			</div>
			<div class="entry">
			</div>
		</div>
		<div class="content">
			{{body | safe }}
		</div>
	</div>
	<div class="footer">
	</div>
{% endblock %}
